body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    background-color: rgb(68, 68, 255);
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid;
    border-radius: 10px;
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#password {
    width: 75%;
    padding: 10px;
    font-size: 10px;
}

#generateBtn {
    width: 75%;
    padding: 10px;
    font-size: 10px;
}

.controls {
    margin-bottom: 20px;
}

.checkboxes {
    margin-top: 10px;
}

.strength-indicator {
    font-weight: bold;
    margin-top: 20px;
}