.container {
    background-color: var(--container-bg-color);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

#projectName {
    color: var(--background-color);
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#gen_password_title{
    color: rgb(0, 0, 0);
}

/* Password Display and Copy Button */
.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--background-color);
    border-radius: 4px;
    overflow: hidden;
}

#password {
    width: 70%;
    padding: 0.625rem;
    font-size: 1rem;
}

#copyBtn {
    width: 25%;
    padding: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copyBtn:hover {
    background-color: rgb(196, 196, 196);
}

.controls {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: #000000;
}

.checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.checkboxes label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--background-color);
    font-size: 1.2rem;
    user-select: none;
}

.checkboxes input[type="checkbox"] {
    margin-right: 0.5rem;
}

.strength-indicator {
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--background-color);
    font-size: 1.3rem;
}

#strengthImage {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 1rem auto;
    display: block;
}